<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All_users List</title>
    <style>
        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">All_users List</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car, stat : ${cars}">
        <td th:text="${all_users.id}"></td>
        <td th:text="${all_users.name}"></td>
        <td th:text="${all_users.surname}"></td>
        <td th:text="${all_users.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>